.page {
  position: relative;
}

.page::after {
  content: '';
  position: absolute;
  inset: 97% 0 0 0;
  border-radius: 1rem;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.2);
}

.frutiger {
  position: relative;
}

.frutiger::after {
    content: "";
    position: absolute;
    inset: 0 0 45% 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.06)
    );
    border-radius: 1rem 1rem 0 0;   
}

.frutiger-2 {
  position: relative;
}

.frutiger-2::after {
    content: "";
    position: absolute;
    inset: 0 0 90% 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.015)
    );
    border-radius: 1rem 1rem 0 0;
    pointer-events: none;
    z-index: -1;
}